/* CSS Stylesheet for Krafter's GitPage: https://thekrafter.github.io */
/* Published under the MIT license */

            /* General or Non-Specific Styles */

body {
    font-family: Monospace;
}

            /* Head Styles */
nav.navbar{
    background-color: darkred;
}

#head {
  background-color: DarkRed;
  color: WhiteSmoke;
  font-family: Melno, Monospace;
  min-height: 25px;
}
#head h1 {
    size:20px;
}
#head img {
    width:10%;
}

            /* Content Styles */

#content p{
    font-size: 15px;
    font-weight: thin;
}
#content a {
    color: WhiteSmoke;
}
#content a:hover {
    color: Maroon;
}
#content h3{
    padding: 10px 15px;
}
div.jumbotron a{
    background-color: #555555;
    text-align: center;
    border-radius: 5px;
    margin: 0% 10%;
  }

#content {
    background-color: #696969;
    color: WhiteSmoke;
    font-family: Melno, Monospace;
    min-height: 720px;
}

            /* Footer Styles */

#footer {
    background-color: #000000;
    color: WhiteSmoke;
    font-weight: lighter;
    font-family: Courier New, Monospace;
    text-align: top left;
    height: 75px;
}
#footer a {
    color:WhiteSmoke;
}