<style>
    #nav {
        background: lightgray;  
        overflow: auto; 
        }
    #nav li {
        float: left;
        padding: 10px;
        }
    #nav li:hover {
        background: gray;
        }
/**
 * make all fonts sans-serif
 */
	h1 {
    color: black;
    font-size: 3em;
    font-family: sans-serif;
    }
	p {
    color: black;
    font-size: 1em;
    font-family: sans-serif;
    }
	table {
    color: black;
    font-size: 1em;
    font-family: sans-serif;
    }
	a {
    color: red;
    font-size: 1em;
    font-family: sans-serif;
    }
	ol {
    color: black;
    font-size: 1em;
    font-family: sans-serif;
    }
	ul {
    color: black;
    font-size: 1em;
    font-family: sans-serif;
    }
	h3 {
    color: black;
    font-family: sans-serif;
    }
	h2 {
    color: black;
    font-family: sans-serif;
    }
	h4 {
    color: black;
    font-family: sans-serif;
    }
	h5 {
    color: black;
    font-family: sans-serif;
    }
	h6 {
    color: black;
    font-family: sans-serif;
    }
	h7 {
    color: black;
    font-family: sans-serif;
    }
	dl {
    color: black;
    font-family: sans-serif;
    }