/* CSS Stylesheet for Krafter's GitPage: https://thekrafter.github.io */
/* Published under the MIT license */

            /* General or Non-Specific Styles */

body {
    font-family: Monospace;
}

            /* Head Styles */

#head {
  background-color: DarkRed;
  color: WhiteSmoke;
  font-family: Melno, Monospace;
  min-height: 25px;
}
#head h1 {
    size:20px;
}
#head img {
    width:10%;
}
#nav a{
    text-decoration: none;
    color: WhiteSmoke;
    padding: 2px;
}
#nav a:hover {
    text-decoration: none;
    color: WhiteSmoke;
    background-color: Maroon;
}

            /* Content Styles */

#content p{
    font-size: 15px;
    font-weight: thin;
}
#content a {
    color: WhiteSmoke;
}
#content a:hover {
    color: Maroon;
}
#content h3{
    padding: 10px 15px;
}

#content {
    background-color: #696969;
    color: WhiteSmoke;
    font-family: Melno, Monospace;
    min-height: 720px;
}

            /* Footer Styles */

#footer {
    background-color: #000000;
    color: WhiteSmoke;
    font-weight: lighter;
    font-family: Courier New, Monospace;
    text-align: top left;
    height: 75px;
}
#footer a {
    color:WhiteSmoke;
}