<div id="footer">
    <hr>
    <h7>© 2025 Krafter</h7>
    <br>
    <ul>
        <li><a {% if page.url == "/" %}style="font-weight: bold;"{% else %}href="/"{% endif %}>Home</a></li>
        <li><a {% if page.url == "/socials" %}style="font-weight: bold;"{% else %}href="/socials"{% endif %}>Socials</a></li>
        <li><a {% if page.url == "/projects" %}style="font-weight: bold;"{% else %}href="/projects"{% endif %}>Projects</a></li>
        <li><a {% if page.url == "/reading-list" %}style="font-weight: bold;"{% else %}href="/reading-list"{% endif %}>Reading List</a></li>
        <li><a {% if page.url == "/pc" %}style="font-weight: bold;"{% else %}href="/pc"{% endif %}>PC Setup</a></li>
    </ul>
    <a href="/license"><img alt="Creative Commons BY-NC-ND" src="/src/img/CC-BY-NC-ND.png"></a> <br>
    <a href='https://ko-fi.com/G2G5DO1DO' target='_blank'><img height='36' style='border:0px; height:45px;' src='/src/img/kofi_logo_pixelated.png' border='0' alt='Support me on Ko-fi.com' /></a>
    <br>
</div>